<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Thank you page</title>
</head>
<body>
<div class="container pt-5 pb-5 w-50">
    <h4 class="mb-4">That's all!</h4>
    <p>If you see this page it means that your testing session is over now.</p>
    <p>We appreciate your time and affords in helping us. <br>If you run into any issues or have any questions please don't hesitate to reach out to
        <a href="mailto:someone@mail.com">(probably some email should be here)</a>.</p>
    <p>Best regards, <br>Adorsys team</p>
    <div class="d-flex justify-content-center flex-row">
        <button class="btn btn-primary btn-lg mt-4 w-25" onclick="window.location.replace('/')">Have a nice day!</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
